<%= form_tag(signout_path) do %>

    <button type="submit" name="commit" class="form-control btn btn-danger btn-lg">
      <i class="fa fa-sign-out"></i> <%= l(:label_logout) %>
        </button>
<% end %>
